<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265857605456-t54qc62fvdn632o44v8ipabu2lfhmod3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265857605456-t54qc62fvdn632o44v8ipabu2lfhmod3</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Ne235F00_1Q2W94CFcP0JYotlJUmmwY</string>
	<key>GCM_SENDER_ID</key>
	<string>265857605456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GrowthCompany.Continuo</string>
	<key>PROJECT_ID</key>
	<string>continuo-1e209</string>
	<key>STORAGE_BUCKET</key>
	<string>continuo-1e209.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265857605456:ios:6ab8b92fc7c1321036d655</string>
</dict>
</plist>